{%load static%}
<script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
<!-- <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script> -->

<!-- Core plugin JavaScript-->
<script src="{%static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

<!-- Custom scripts for all pages-->
<script src="{%static 'js/sb-admin-2.min.js'%}"></script>

<!-- Page level plugins -->
<script src="{%static 'vendor/chart.js/Chart.min.js'%}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>

<!-- Tautan ke jQuery (Pastikan Anda sudah memasang jQuery) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Tautan ke jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Tautan ke Bootstrap CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css">

<!-- Tautan ke FullCalendar CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">

<!-- Tautan ke Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>

<!-- Tautan ke FullCalendar JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>

