{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Favicons -->
    <link href="{%static 'img/logo.png'%}" rel="icon">

    <title>Home</title>
</head>
<body class="bg-[#0E0353]">

        <!-- Navbar -->
        <div class="bg-[#0E0230] py-3 flex justify-between items-center ">
            <div class="flex items-center mx-20">
                <div class="bg-white p-2 rounded-full">
                    <img src="{%static 'img/ukm_itc.png'%}" class="w-9 h-9 " alt="">
                </div>
                <div class="mx-2">
                    <h1 class="text-3xl font-extrabold uppercase text-white">ukm <span class="text-yellow-400">itc</span></h1>
                </div>
            </div>
            <div class="mx-24 flex">
                <a href="#" class="block px-3 font-semibold text-white">Home</a>
                <a href="#" class="block px-3 font-semibold text-white">About</a>
                <a href="#" class="block px-3 font-semibold text-white">Devisi</a>
                <div class="block mx-10">
                    <a href="#" class="px-8 font-semibold text-white bg-[#17C2E8] border border-[#17C2E8] py-2 rounded-md hover:bg-transparent ">Login</a>
                </div>
            </div>
        </div>
        <!-- End Nabvar -->


        <!-- Halaman -->
        <div class="block">
            <div class="mt-24 mx-60">
                <img src="{%static 'img/ukm.png'%}" alt="" width="600%">
            </div>
            <div class="flex gap-3 mt-10 justify-center">
                <div>
                    <a href="{%url 'dashboard:dashboard'%}" class="bg-transparent border border-[#17C2E8] py-2 px-7 text-white text-base font-semibold rounded-md hover:bg-[#17C2E8]">Login</a>
                </div>
                <div>
                    <a href="{%url 'register'%}" class="bg-[#17C2E8] border border-[#17C2E8] py-2 px-7 text-white text-base font-semibold rounded-md hover:bg-transparent">Register</a>
                </div>
            </div>
        </div>
        <!-- End Halaman -->
        
</body>
</html>